h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
	color: #68f;
		
	
	/* CHRISTMAS CSS
	color: #f66;	
	/* END CHRISTMAS CSS */
}

h1 {
    display: inline-block;
}

h2, h3 {
    width: 100%;
    margin: 30px auto 20px auto;
    text-align: left;
    padding-left: 10px;
    border-left: 5px solid #68f;
    border-right: 5px solid #68f;
    background: #ddf;
    color: #88f;


    /* CHRISTMAS CSS
    border-left: 5px solid #f00;
    border-right: 5px solid #f00;
    background: #faa;
    color: #f00;
    /* END CHRISTMAS CSS */
}

html, body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #eee;
    font-family: 'Segoe UI', sans-serif;
}

img.topleft_ico {
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    height: 100%;
    margin: 30px;
    border-radius: 100px;
    z-index: 1;
}

img.topleft_text_ico {
    position: absolute;
    height: auto;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

li.topleft_text {
    position: relative;
}

li.topleft_text > span {
    color: white;
    font-size: 1.2em;
    position: absolute;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 170px;
    padding-top: 20px;
}

.topleft_text > .mobile {
    padding-left: 20px;
}

.programming {
    background: purple;
}

.gaming {
    background: green;
}

.music {
    background: orange;
}

/* CHRISTMAS CSS
img.overlay {
	border-radius: 0;
	height: 50%;
    -ms-transform: rotate(-12deg);
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);

	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}

img.overlay:hover {
    -ms-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}
/* END CHRISTMAS CSS */

#wrapper {
    min-height: 100%;
    position: relative;
    min-width: 100%;
}

header {
    padding: 0px;
    position: relative;
    background: #004;


    /* CHRISTMAS CSS
    background: #800;
    /* END CHRISTMAS CSS */
}

#headerSubtitle {
    color: #fff;
    margin: -15px 0 10px 0;
}

#content {
    padding-bottom: 70px;
    max-width: 500px;
    margin: 0 auto;
}

iframe {
    overflow: hidden;
    border-width: 0;
}

a {
    cursor: pointer;
}

img.right {
    position: absolute;
    margin: -20px 150px;
    left: 50%;
    opacity: .1;
}

.button  {
    background: #46F;
    padding: 4px 15px;
    color: white;
    font-size: .9em;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    background: #02f;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.button_d  {
    border-top: 1px solid #eee;
    background:#ccc;
    padding: 4px 15px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
    cursor: default;
}

input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

table {
    margin: 10px auto;
    border: 1px solid #55a9ff;
    text-align: left;
    padding: 10px;
    width: 100%;
    table-layout: fixed;
}

p {
    text-align: left;
}

th {
    color: #55a9ff;
}

td {
    padding: 10px 5px;
}

td.b {
    width: 70px;
    vertical-align: top;
}

td.b_2 {
    width: 140px;
    vertical-align: top;
}

.text{
    margin: -15px auto;
    max-width: 100%;
}

ul li {
    text-align: left;
}

.center {
    width: 100%;
    margin: 0 auto;
    /*text-align: left;*/
}

.middle {
    text-align: center;
}

noscript {
    position: absolute;
    background: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

a.nodeco {
    text-decoration: none;
}

.projDesc {
    font-size: 0.75em;
    color: #888;
    font-weight: normal;
}

.highlighted {
    font-weight: bold;
}



.navbar {
    padding: 0;
    background: #ddd;
    line-height: 0;
    list-style-type: none;

    border-radius: 0;
    position: initial;
    min-height: 0;
    border: 0 none transparent;
}

.navbar > li {
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: inline-block;
}

.navbar-item > a{
    text-decoration: none;
    color: inherit;
    float: left;

    border: 4px solid transparent;
}

.navbar-item > a:hover{
    border-bottom: 4px solid #eee;
    border-top: 4px solid #004;
    /*box-shadow: 0px 4px 0px #ccc;

    /* CHRISTMAS CSS
    border-top: 4px solid #800;
    /* END CHRISTMAS CSS */
}

.navbar-item > a > img {
    height: 32px;
    width: 32px;
}
.navbar-item > a > span {
    height: auto;
}

.category-thumbnail {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-weight: lighter;
}

.category-thumbnail.js {
    background: #e50;
}
.category-thumbnail.js:after {
    content: "Js";
}

.category-thumbnail.cs {
    background: #0bf;
}
.category-thumbnail.cs:after {
    content: "C#";
}

.category-thumbnail.web {
    background: #3a4;
}
.category-thumbnail.web:after {
    content: "@";
}



html, body, .max-height {
    height: 100%
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -42px;
}

#push, footer {
    height: 42px;
}

footer {
    height: 42px;
    width: 100%;
    font-size: .9em;
    text-align: right;
}

footer > div {
    padding-right: 20px;
}