.audio-player {
	margin: 10px auto;
}

.audio-player-cover {
	width: 64px;
	height: 64px;
	float: left;
	margin-right: 10px;
}

.audio-player-title {
	margin: 0 10px;
	line-height: 10px;
}

.audio-player-artist {
	color: #aaa;
	margin: 0 10px;
}

.audio-player-prefix {
	font-size: 0.8em;
	color: #aaa;
}

.audio-player-time {
	font-size: .8em;
	color: #aaa;
}

.audio-player-controls {
	clear: both;
}

.audio-player-progress {
	display: block;
	width: 100%;
	height: 5px;
	overflow: hidden;
	cursor: pointer;
	background-color: #aaa;
}

.audio-player-progress-bar {
	-webkit-transition: width 250ms ease-out;
	-moz-transition: width 250ms ease-out;
	-o-transition: width 250ms ease-out;
	transition: width 250ms ease-out;
	display: block;
	height: 100%;
	width: 0;
	max-width: 100%;
	background-color: #f60;;
}

.audio-player-volume-wrapper {
	display: block;
	width: 100%;
}

.audio-player-volume {
	display: block;
	width: 50px;
	height: 5px;
	background-color: #aaa;
	overflow: hidden;
	float: right;
	margin: 15px;
	cursor: pointer;
}

.audio-player-volume-bar {
	-webkit-transition: width 250ms ease-out;
	-moz-transition: width 250ms ease-out;
	-o-transition: width 250ms ease-out;
	transition: width 250ms ease-out;
	display: block;
	height: 100%;
	width: 0;
	max-width: 100%;
	background-color: #f60;;
}
  
.audio-player-button {
	display: table-cell;
	position: relative;
	width: 35px;
	height: 35px;
	opacity: 0.5;
	cursor: pointer;
	background: #ccc;
}

.button-left {
	float:left;
}
  
.button-right {
	display: table-cell;
	background: transparent;
	float:right;
}

.audio-player-button:hover {
	opacity: 1;
}

.audio-player-button::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0.8em;
	height: 0px;
	margin: auto;
	line-height: 0;
	font-size: 1.1em;
	color: #555; 
	text-shadow: 10px 10px #ccc;
}

.audio-player-button.icon-pause::before {
	font-size: 18px;
	top: 1px;
	left: -15px;
}

.audio-player-button.icon-backward::before {
	left: -17px;
}

.audio-player-button-wrappers {
	overflow: hidden;
	display: table;	
	background-color: #ddddda;
	width: 100%;
}