<!DOCTYPE html>
<html data-ng-app="app">
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="michael, buholzer" />
		<meta name="description" content="music" />
		<title>Music | Michael Buholzer</title>
		
		<link rel="shortcut icon" href="../../favicon.ico" />
		<!--<link rel="stylesheet" type="text/css" href="/michaelbuholzer/css/bootstrap.css" />-->
		<link rel="stylesheet" type="text/css" href="../../css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/view.css" />
		<link rel="stylesheet" type="text/css" href="../../css/slide.css" />
		
		<script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../js/controllers.js"></script>
		<script type="text/javascript" src="../../js/script.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		
		<link rel="stylesheet" type="text/css" href="audio-player.css" />
		<script type="text/javascript" src="audio-player.js"></script>
		
	</head>
	<body data-ng-controller="music">
		<div id="wrapper">			
		
			<header data-ng-include="'../../html_parts/header.html'">
			</header>
			
			<div id="content">
			
				<div>				
					<h2>My Music</h2>
					<div class="center">
						<input data-ng-model="search" placeholder="Search song...">
						<div class="item" data-ng-repeat="song in my_songs" data-ng-show="song.title.indexOf(search) > -1">
						
							<div class="audio-player" data-audiosrc="{{song.source}}">
								<img class="audio-player-cover" src="#" data-ng-src="{{song.cover}}" alt="cover" />
								<div>
									<span class="audio-player-prefix">{{$index + 1}}.</span><span class="audio-player-title">{{song.title}}</span>
									<span class="audio-player-artist">Michael Buholzer</span>
								</div>
								<div>
									<span class="audio-player-time"></span>
								</div>
								<div class="audio-player-controls">
									<span class="audio-player-progress">
										<span class="audio-player-progress-bar"></span>
									</span>
									<span class="audio-player-button-wrappers">
										<!--<a role="button" class="audio-player-button icon-backward"></a>-->
										<a role="button" class="audio-player-button button-left audio-player-pauseplay-button fa fa-play"></a>
										<a role="button" class="audio-player-button button-left audio-player-stop-button fa fa-stop"></a>
										<!--<a role="button" class="audio-player-button icon-forward"></a>-->
										<span class="audio-player-volume-wrapper">
											<span class="audio-player-volume">
												<span class="audio-player-volume-bar"></span>
											</span>
										</span>
										<a role="button" class="audio-player-button button-right audio-player-mute-button fa fa-volume-up"></a>
									</span>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
			
			<footer data-ng-include="'../../html_parts/footer.html'">
			</footer>
			
		</div>
		<noscript>This page requires JavaScript. Please allow your browser to run it.</noscript>
	</body>
</html>